body {
    margin: 0%;
    background-color: rgb(228, 227, 227);
    font-family: 'Sansita', sans-serif;
}


.Cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fcca46;
    color: #233d4d;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 20px;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5px;

}

.container3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.p-h1 {
    font-family: 'Sansita', 'sans-serif';
    margin-left: 15px;
}

.div-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-text,
p {
    font-size: 20px;
}

.div-text,
h2 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.img-principal {
    width: 50%;
    height: 60%;
    margin-top: 30px;
    margin-left: 0%;

}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 5px;
}

#h2-lorem {
    margin-left: 25px;
}

#p-h2 {
    margin-left: 25px;
    font-size: 24px;
}


h1 {
    margin-left: 40px;
    margin-bottom: 35px;
    font-size: 45px;
}

h2 {
    color: #233d4d;
    font-size: 40px;
}

h1:hover {
    font-size: 50px;
    transition: 0.5s;
}

h1 :link,
h1 :visited,
h1 :hover,
h1 :active {
    color: #233d4d;
    text-decoration: none;
}

nav :hover {
    font-size: 30px;
    transition: 0.5s;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 49%;
    height: 70px;
    background-color: #233d4d;
    color: #fcca46;
    font-size: 20px;

}

nav :link,
nav :visited,
nav :hover,
nav :active {
    color: #fcca46;
    text-decoration: none;

}

.img-dog {
    object-fit: fill;
    border-radius: 10px;
    height: 400px;
    width: 20px;
    margin-bottom: 20px;
}

.img-dog:nth-child(10n) {
    margin-left: 0%;
}

.h1-link ::after {
    content: url(img/icons/favpng_siberian-husky-beagle-puppy-face-clip-art.png);

}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fcca46;
    background-color: #233d4d;
}

@media (max-width: 700px) {
    h1 {
        display: none;
    }

    .Cabecalho {
        height: auto;
    }

    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}